@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
/* header desktop */
.header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
.logo{
    width: 5rem;
}
li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
ul{
    display: flex;
}
/* fin header desktop */
/* Estilos al header mobile bootstrap */
div .color{
    background-color: #FFFFFF;
}
/* Fin de estilos al header mobile bootstrap */
/* Estilos MAIN */
main{
    width: 80%;
    margin: auto;
}
h1{
    color: #18191F;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
}
.texto-sobre-mi{
    color: #18191F;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
/* seccion de servicios */
.contenedor-servicios{
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}
.titulo-servicios{
    color: #18191F;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
}
h3{
    text-align: center;
}
.texto-servicios{
    color: #18191F;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
/* contacto */
.contacto{
    background-color: #98C0DB;
    color: #fff;
    padding: 50px 0;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.contacto .contenidoContacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    color: #18191F;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}
.texto-contacto{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-align: start;
}
.contacto .fila{
    display: block;
}
.contacto .fila .col{
    width: 100%;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    color: #9F9F9F;
    font-size: 16px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3282B8;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
/* FOOTER */
footer{
    background: #000000;
    margin-top: 20px;
    height: 7rem;
}
.contenedor-logo-redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-footer{
    width: 5rem;
}
.texto-footer{
    color: #D9DBE1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}